:root {
	/* Color scheme
	https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=2b353f */
	--bg-color-main: white; 
	--bg-color-light: #F5F5F6;
	--bg-color-dark: #E1E2E1;
	--color-main: #2b353f; /* Tridium color */
	--color-light: #545f6a;
	--color-dark: #010f19;
	--menu-font: 17px Arial,sans-serif;
}

/* When the screen is less than 900 pixels wide, hide all links, except for the first one: the menu icon. 
Show the link that should open and close the menu (.icon) */
@media screen and (max-width: 1000px) {
	.menu li:not(:first-child) {
		display: none;
	}
	.menu li.menu_button {
	  	display: block;
	}
	ul.menu {
		background-color: var(--bg-color-main) !important;
		margin-right: 0px !important;
	}
	.title {
		font-size: 20px !important;
		margin-top: 15px;
		margin-bottom: 20px;
	}
	/* Allow overflown content to be scrolled horizontally in responsive mode */
	.hscroll {
		overflow-x: auto;
	}
	/* Needed for the padding-right of the scroll element to work properly */
	.hscroll > .pagebody {
		display: inline-block;
	}
	/* Fixing input width to the width of the data displayed */
	.table td input {
		width: 100%;
	}
	/* Allow table headers to be displayed without wrapping content */
	.table th {
		white-space: nowrap;
	}
	#logos-big-screen {
		display: none;
	}
	#logos-small-screen {
		display: inline-block !important;
	}
}

@media screen and (max-width: 600px) {
	/* Br element will only break title in small screens */
	.mobile-title-break {
		display: inherit !important;
	}
}

/* Format page for printing */
@media print {
	.menu {
		display: none;
	}
	.menubottom {
		display: none;
	}
	.table {
		background-color: white;
	}
	.table td {
		white-space: nowrap;
	}
}

html, body {
	background-color: var(--bg-color-main);
	padding: 0px;
	margin: 0px;
}

.title {
	font: bold 30px Arial,sans-serif;
	text-align: center;
	color: var(--color-light);
}

/* Br element will only break title in small screens */
.mobile-title-break {
	display: none;
}

.table {
	background-color: var(--bg-color-dark);
	width: 100%;
	font: normal 14px Arial,sans-serif;
	margin-bottom: 30px;
	border-collapse: separate;
	border: 2px solid black;
	border-radius: 6px;
}

.table th {
	color: var(--color-light);
	text-align: left;
}

.table tr {
	height: 40px;
}

.table td {
	padding: 5px;
}

.table input[readonly] {
	background-color: var(--bg-color-dark);
	border: none;
}

.btn-table-nav {
	margin-right: 5px;
	margin-bottom: 5px;
	min-width: 40px;
}

.sectiontitle {
	font: bold 20px Arial,sans-serif;
	margin-bottom: 15px;
	color: var(--color-main);
}

.pagebody {
	padding-left: 20px;
	padding-right: 20px;
}



/* ----------------- gestione menu con tab ----------------- */
ul.menu {
	margin: 0px;
/*	margin-top: 25px;
	margin-left: 150px;
	margin-right: 160px; /* space for the logo */
	background-color: var(--color-main); /* colore di sfondo del tab */
	padding-left: 0px;
	height: 60px;
}

/* The "responsive" class is added to the menu with JavaScript when the user clicks on the icon. 
This class makes the menu look good on small screens (display the links vertically instead of horizontally) */
ul.menu.responsive li {
	float: none;
	display: block;
	z-index: 15; /* When menu is open it must cover the logo */
	/* increased z-index to 15 so it stays on top of the AI trends (z-index: 10) */
}

/* Not first child so menu_button (which is padded) don't break the layout */
ul.menu.responsive li:not(:first-child) a {
	width: 100%;
}

li.tabmenu {
	float: left;
	display: block;
	position: relative;
}

li.tabmenu > a {
	display: block;
	width: 120px;
	height: 40px;
	font: var(--menu-font);
	color: var(--bg-color-main);
	padding-top: 20px;
	text-decoration: none;
	text-align: center;
}

li.tabmenu > a[href="#"] {
	cursor: default;
}

li.tabmenu_on > a {
	background-color: var(--color-light)
}

li.tabmenu_on:hover > a { 
	color: white;
}

li.tabmenu_off > a {
	background-color: var(--color-main);
}

li.tabmenu_off:hover > a { 
	/* background-color: var(--color-light); 
	color: white; */
}

/* Menu button doesn't show on standard view (big displays) */
li.menu_button {
	display: none;
	width: 100%;
}

li.menu_button a {
	background-color: var(--color-main);
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	width: auto; /*15px TESTING*/
}

#logos-big-screen {
	width: 100%;
	text-align: center;
	margin-top: 5px;
}

#logos-small-screen {
	width: 100%;
	display: none;
	text-align: center;
}

.left-logo {
	float: left;
}

.right-logo {
	float: right;
}

#logos-small-screen > .left-logo {
	padding-top: 10px;
}

#logos-small-screen > .center-logo {
	padding-top: 16px;
}

#imgLogo {
	background-color: var(--bg-color-main);
	position: absolute;
	top: 0px; 
	right: 0px;
	padding-left: 10px;
	z-index: 1; /* When menu is open it must cover the logo */
}

.menubottom {
	background-color: var(--bg-color-main);
	height: 27px;
	color: var(--color-main);
	font: bold 12px Verdana,sans-serif;
	padding-left: 20px;
	padding-top: 10px;
}



/* ----------------- gestione sottomenu a tendina ----------------- */
ul.submenu {
	display: none;
	padding: 0px;
	margin: 0px;
	background-color: var(--bg-color-light);
	box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);
	z-index: 15; /* so it stays on top of the AI trends (z-index: 10) */
}

/* Always display submenu when on responsive mode */
ul.menu.responsive ul.submenu {
	display: block;
}

/* Create the not responsive version of the submenu */
ul.menu:not(.responsive) li.tabmenu:hover > ul.submenu {
	display: block;
	position: absolute;
	width: 140px;
	left: 0px;
	border-top: 0;
}

ul.submenu  > li {
	display: block;
	position: relative;
}

ul.submenu > li > a {
	display: block;
	height: 40px;
	padding-top: 20px;
	color: var(--color-main);
	font: var(--menu-font);
	text-decoration: none;
	text-align: center;
}

ul.submenu > li > a[href="#"] {
	cursor: default;
}

ul.submenu > li:hover > a {
	background-color: var(--bg-color-dark);
	color: var(--color-main);
}

ul.submenu > li > ul.submenu {
/*	display: none; */
	display: block;
	position: absolute;
	left: 149px;
	top: 15px;
	width: 5px;
	height: 5px;
	overflow: hidden;
}

ul.submenu > li:hover > ul.submenu {
	display: block;
	position: absolute;
	width: 155px;
	left: 155px;
	top: 0px;
	height: auto;
	overflow: visible;
}
