:root {
	/* Color scheme British Palette
	by https://flatuicolors.com/palette/gb */
	--main-bg-color: white;
	--secondary-bg-color: #dcdde1; /* hint of pensive */
	--menu-main-color: #40739e; /* naval */
	--menu-main-hover-color: #7f8fa6;
	--menu-secondary-color: #e1b12c; /* nanohanacha gold */
	--menu-secondary-hover-color: #fbc531;
	--menu-font: 17px Arial,sans-serif;
}

html, body {
	background-color: var(--main-bg-color);
	padding: 0px;
	margin: 0px;
}

.title {
	font: bold 30px Arial,sans-serif;
	text-align: center;
	color: #71787f;
}

.table {
	background-color: var(--secondary-bg-color);
	width: 100%;
	font: normal 14px Arial,sans-serif;
	margin-bottom: 30px;
	border-collapse: separate;
	border: 2px solid black;
	border-radius: 6px;
}

.table th {
	color: #4c536c;
	text-align: left;
}

.table tr {
	height: 40px;
}

.table td {
	padding: 5px;
}

.sectiontitle {
	font: bold 20px Arial,sans-serif;
	margin-bottom: 15px;
}

.pagebody {
	padding-left: 20px;
	padding-right: 20px;
}



/* ----------------- gestione menu con tab ----------------- */
li.tabmenu {
	float: left;
	display: block;
	position: relative;
}

li.tabmenu > a {
	display: block;
	width: 120px;
	height: 40px;
	font: var(--menu-font);
	color: var(--main-bg-color);
	padding-top: 20px;
	padding-left: 20px;
	text-decoration: none;
}

li.tabmenu > a[href="#"] {
	cursor: default;
}

li.tabmenu_on > a {
	background-color: var(--menu-secondary-color);
}

li.tabmenu_on:hover > a { 
	color: white;
}

li.tabmenu_off > a {
	background-color: var(--menu-main-color);
}

li.tabmenu_off:hover > a { 
	background-color: var(--menu-main-hover-color); 
	color: white;
}

ul.menu {
	margin: 0px;
	background-color: var(--menu-main-color); /* colore di sfondo del tab */
	padding-left: 0px;
	height: 60px;
}

#imgLogo {
	background-color: var(--main-bg-color);
	position: absolute;
	top: 0px; 
	right: 0px;
	height: 60px;
}

.menubottom {
	background-color: var(--main-bg-color);
	height: 27px;
	color: var(--menu-secondary-color);
	font: bold 12px Verdana,sans-serif;
	padding-left: 20px;
	padding-top: 10px;
}



/* ----------------- gestione sottomenu a tendina ----------------- */
ul.submenu {
	display: none;
	padding: 0px;
	margin: 0px;
	background-color: var(--menu-secondary-color);
}

li.tabmenu:hover > ul.submenu {
	display: block;
	position: absolute;
	width: 140px;
	left: 0px;
	border-top: 0;
}

ul.submenu  > li {
	display: block;
	position: relative;
}

ul.submenu > li > a {
	display: block;
	height: 20px;
	padding: 5px;
	color: var(--main-bg-color);
	font: var(--menu-font);
	text-decoration: none;
}

ul.submenu > li > a[href="#"] {
	cursor: default;
}

ul.submenu > li:hover > a {
	background-color: var(--menu-secondary-hover-color);
	color: white;
}

ul.submenu > li > ul.submenu {
/*	display: none; */
	display: block;
	position: absolute;
	left: 149px;
	top: 15px;
	width: 5px;
	height: 5px;
	overflow: hidden;
}

ul.submenu > li:hover > ul.submenu {
	display: block;
	position: absolute;
	width: 155px;
	left: 155px;
	top: 0px;
	height: auto;
	overflow: visible;
}
